**/__pycache__
venv/
**/.pytest_cache
.idea/
*.log
.coverage
coverage-reports/
*.png
!images/boat.png
!images/boat-damaged.png
!images/boat-mask.png
!images/house-damaged.png
!images/house-labeled.png
!tests/house-damaged.png
!tests/house-mask.png