**/__pycache__
venv/
**/.pytest_cache
**/.mypy_cache
.vscode/
*.log
.coverage
*.png
!images/boat.png
!images/boat-damaged.png
!images/house-damaged.png
!images/house-labeled.png
!tests/house-damaged.png
!tests/house-mask.png