**/__pycache__
venv/
**/.pytest_cache
**/.mypy_cache
.vscode/
*.log
.coverage
cov.xml
*.png
!images/boat.png
!images/boat-damaged.png
!images/house-damaged.png
!images/house-labeled.png
!tests/house-damaged.png
!tests/house-mask.png
A comparative study of energy minimization methods for Markov random fields with smoothness-based priors.pdf